* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins' , sans-serif;
}

.menu {
    width: 17%;
    height: 100%;
    background: red;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    border-right-style:solid;
}

img {
    width: 100%;
}

summary:hover {background-color: blue;}
summary {cursor:pointer}


footer {
    margin-left:20%;
    margin-top:1%
}
