* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins' , sans-serif;
}

.menu {
    width: 17%;
    height: 100%;
    background: aquamarine;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    border-right-style:solid;
}

#logo {
    width: 100%;
}

summary:hover {background-color: darkcyan;}
summary {cursor:pointer}


footer {
    margin-left:20%;
    margin-top:1%
}

li {
    background-color: aliceblue;
    border-style: solid;
    margin:5%;
    margin-bottom: 10%;
}

#menu {padding-left: 32%;}
#ins {padding-left: 16%;}
#wt {padding-left: 6%;}
#at {padding-left: 28%;}
#theo {padding-left: 18%;}
#act {padding-left: 20%;}
#co {padding-left: 27%;}

ul {padding:15%}

.TKI {
    width:20%;
}
.SP {
    width:25%  
}